[mysqld]
# skip-name-resolve
host_cache_size=0
character_set_server=utf8mb4
datadir=/var/lib/mysql
server-id=1001

default_authentication_plugin = mysql_native_password

#设置只同步binlog的库,默认全库?
replicate-do-db=reggie