[mysqld]
# skip-name-resolve
host_cache_size=0
character_set_server=utf8mb4
datadir=/var/lib/mysql

default_authentication_plugin = mysql_native_password

# 设置server-id唯一值标识主机，必须与从库不一致.
server-id=1000

# 开启二进制日志，主库必须开启
log-bin=mysql-bin

# 配置binlog路径
# log-bin=/var/lib/mysql/mysql-bin
# log_bin_index=/var/lib/mysql/mysql-bin/mysql-bin.index

# 自动删除2592000秒 (30天)前的日志。
# 8.0以前的版本中这个配置为expire_logs_days，单位为天
binlog_expire_logs_seconds=2592000

# binlog记录的模式
# statement模式不会记录每一条更改语句，节约资源但主从数据可能不一致
# row模式记录每一条更改的语句，日志量非常大
# mixed模式是前两者优点的综合，但日志结构较为复杂
binlog_format=mixed
max_binlog_size=1G

#设置只记录binlog的库，默认全库?
binlog-do-db=reggie